/* Override body padding in style.css */
body {
    padding-top: 0;
}

/* Override banner in style.css */
#banner h1 {
    font-stretch: normal;
    text-transform: none;
    font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
    font-size: 50px;
}

.footnote {
    font-size: 90%;
}

a.article-link:visited {
    color: #aaa;
}

/* Fix for Chromium wrapping the dates in archive list */
.archive-date {
    white-space: nowrap;
}

/* Add scroll bars to code snippets */
.highlight pre {
    word-wrap: normal;
    white-space: pre;
}

.article-figure {
    margin-bottom: 16px;
}

.article-figure img,
.article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-figure figcaption {
    text-align: center;
}

/* Reset any browser padding on lists */
ul,
ol {
    padding-left: 40px;
    margin: 0;
}

/* So that we can then break out of a list e.g. to centre images on page */
.break-out-of-list {
    margin-left: -40px;
}

blockquote cite {
    display: block;
    text-align: right;
}

/* Match panel border colour to other lines */
.entry-content .panel {
    border-color: #E6E6E6;
}

/* Match article detail panel background colour to panels on article lists */
article .panel {
    background-color: #F5F5F5;
}

footer.post-info .label {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/* Too much spacing between bottom hr and copyright details; remove some */
.content-author-separator {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
